In [2]:
import requests
import json
import pandas as pd
import numpy as np

In [3]:
cities = ['bialystok','gdansk','gorzow','katowice','kielce','krakow','lublin','lodz','olsztyn','opole','poznan','rzeszow','szczecin','torun','warszawa','wroclaw','zielonagora']
base_url = 'https://danepubliczne.imgw.pl/api/data/synop/station/'
df = None
i = 0
for city in cities:
    i+=1
    url = base_url + city
    response = requests.get(url)
    row = json.loads(response.text)
    if type(df) != pd.DataFrame:
        df = pd.DataFrame(row,index=[0])
        print(df)
    else:
        df = pd.concat([df,pd.DataFrame(row,index=[i])],axis=0)

df

  id_stacji     stacja data_pomiaru godzina_pomiaru temperatura  \
0     12295  Białystok   2024-04-22              20         4.2

  predkosc_wiatru kierunek_wiatru wilgotnosc_wzgledna suma_opadu cisnienie
0               3             270                75.6        0.1    1020.1

,id_stacji,stacja,data_pomiaru,godzina_pomiaru,temperatura,predkosc_wiatru,kierunek_wiatru,wilgotnosc_wzgledna,suma_opadu,cisnienie
0,12295,Białystok,2024-04-22,20,4.2,3,270,75.6,0.1,1020.1
2,12155,Gdańsk,2024-04-22,20,1.4,2,300,91.0,0.4,1021.9
3,12300,Gorzów,2024-04-22,20,2.3,1,250,89.1,0,1023.6
4,12560,Katowice,2024-04-22,20,-0.2,1,360,80.7,0.4,1024.5
5,12570,Kielce,2024-04-22,20,0.3,1,200,87.0,1.2,1024.4
6,12566,Kraków,2024-04-22,20,3.2,2,30,72.7,2.9,1024
7,12495,Lublin,2024-04-22,20,2.4,3,270,77.0,0,1023.3
8,12465,Łódź,2024-04-22,20,1.8,2,220,73.0,0.3,1023.5
9,12272,Olsztyn,2024-04-22,20,1.3,2,280,95.0,0.01,1021.7
10,12530,Opole,2024-04-22,20,1.9,1,60,68.7,0.01,1024
11,12330,Poznań,2024-04-22,20,2.3,2,320,87.8,0,1023.3
12,12580,Rzeszów,2024-04-22,20,3.6,2,300,66.6,0.4,1023.8
13,12205,Szczecin,2024-04-22,20,3.5,1,50,66.6,0.4,1023.3
14,12250,Toruń,2024-04-22,20,3.2,1,290,64.5,0,1022.4
15,12375,Warszawa,2024-04-22,20,3.5,3,260,70.6,0.01,1022.3
16,12424,Wrocław,2024-04-22,20,-0.5,0,0,85.0,0,1024.2
17,12400,Zielona Góra,2024-04-22,20,1.5,0,0,87.7,0.01,1023.9

In [27]:
df['temperatura'] = df['temperatura'].astype(float)
df['suma_opadu'] = df['suma_opadu'].astype(float)
df['cisnienie'] = df['cisnienie'].astype(float)

In [5]:
print('1.Średnia temperatura punktów pomiarowych')
print(f"Średnia temperatura: {np.round(df['temperatura'].mean(),2)}")

1.Średnia temperatura punktów pomiarowych
Średnia temperatura: 2.1

In [8]:
print('2. Mainimalna temperatura wraz z miejscem pomiaru')
minim = df.loc[df['temperatura'].idxmin(),['temperatura','stacja']]
print(f"Minimalna temperatura: {minim['stacja']}, {minim['temperatura']}")

2. Mainimalna temperatura wraz z miejscem pomiaru
Minimalna temperatura: Wrocław, -0.5

In [7]:
print('3. Maksymalna temperatura wraz z miejscem pomiaru')
maxim = df.loc[df['temperatura'].idxmax(),['temperatura','stacja']]
print(f"Minimalna temperatura: {maxim['stacja']}, {maxim['temperatura']}")

3. Maksymalna temperatura wraz z miejscem pomiaru
Minimalna temperatura: Białystok, 4.2

In [18]:
print('4. Data oraz godzina pomiaru')
print(str(df.loc[0,'data_pomiaru']) + ' ' + str(df.loc[0,'godzina_pomiaru']))

4. Data oraz godzina pomiaru
2024-04-22 20

In [22]:
print('5. Średnia wartość opadów')
np.round(df['suma_opadu'].mean(),2)

5. Średnia wartość opadów

0.36

In [23]:
print('6. Minimalna wartość opadów wraz z miejscem pomiaru')
minim = df.loc[df['suma_opadu'].idxmin(),['suma_opadu','stacja']]
print(f"Minimalny opad: {minim['stacja']}, {minim['suma_opadu']}")

6. Minimalna wartość opadów wraz z miejscem pomiaru
Minimalny opad: Gorzów, 0.0

In [25]:
print('7. Maksymalna wartość opadów wraz z miejscem pomiaru')
maxim = df.loc[df['suma_opadu'].idxmax(),['suma_opadu','stacja']]
print(f"Maksymalny opad: {maxim['stacja']}, {maxim['suma_opadu']}")

7. Maksymalna wartość opadów wraz z miejscem pomiaru
Maksymalny opad: Kraków, 2.9

In [28]:
print('8. Średnia wartość ciśnienia')
np.round(df['cisnienie'].mean(),2)

8. Średnia wartość ciśnienia

1023.19

In [29]:
minim = df.loc[df['cisnienie'].idxmin(),['cisnienie','stacja']]
print(f"Minimalne cisnienie: {minim['stacja']}, {minim['cisnienie']}")

Minimalny opad: Białystok, 1020.1

In [30]:
maxim = df.loc[df['cisnienie'].idxmax(),['cisnienie','stacja']]
print(f"Maksymalne cisnienie: {maxim['stacja']}, {maxim['cisnienie']}")

Maksymalne cisnienie: Katowice, 1024.5

In [33]:
df.to_csv('dane_pogodowe.csv', encoding='ISO-8859-2')